<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All the notes</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900 p-10">
           <a href="/" class="text-blue-500 inline-block mb-10">← Back to Notes</a>
           <h1 class="text-3xl tracking-tighter text-white"><%= filename %></h1>
          <pre class="text-xl mt-2 font-regular text-white"><%= data %></pre>
    </div>
    
</body>
</html>